name = "{{ project_name }}"
compatibility_date = "{{ compatibility_date }}"
main = "./cloudflare/worker.js"

[site]
bucket = "./.cloudflare/public"

[env.production]
name = "{{ production_name }}"

[env.staging]
name = "{{ staging_name }}"

[build]
command = "npm run build"